{% extends "base.twig" %}

{% block content %}
    {# local macros must be imported, then use like "{{ macros.<X>() }}" #}
    {% import "_macros/trends_macros.twig" as macros %}

    <div class="container-fluid">
        <h1>
            <strong>
                PHP Framework <span class="text-orange">Trends</span>
            </strong>
        </h1>

        <br>

        <div class="alert alert-warning" role="alert">
            <p>
                This project is based on assumption, that frameworks packages are used one by one via <code>composer require single/package</code>. Monorepo installations like <code>symfony/symfony</code> or <code>illuminate/framework</code> break this design and mixes 2 types of data that cannot be compared.
            </p>

            <br>

            <p>
                In short: the <strong>package downloads numbers can't reflect the real framework package use</strong>.
            </p>
            <p>
                That's why I'm <a href="https://tomasvotruba.com/blog/how-i-made-huge-mistake-with-interpretation-of-laravel-downloads">sunsetting this project</a> to avoid more confusion.
            </p>

            <div class="text-right text-secondary">
                Tomas Votruba, 2021-07-29
            </div>
        </div>

        <br>

        <div class="text-center">
            <p class="headline">
                How much is marketing and how much developers?<br>
                What are <strong>real downloads</strong> of PHP frameworks from Packagist?
                <br>
            </p>
        </div>

        <br>

        <p>
            Each framework name includes all packages that developers can use for their daily work. E.g. Symfony includes the components and bundles, that <strong>developers use for building their projects</strong>. Is it e-commerce website, REST API project or just a small CLI app? All are included.
            <br>
            <br>
            For better understanding see <a href="{{ path('methodology') }}">the methodology</a>.
        </p>

        <br>

        <table class="table table-bordered table-responsive table-striped sortable_table border">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-center w-25 align-middle th-title">Framework</th>
                    <th class="text-center w-25 align-middle th-title">Year Trend</th>
                    <th class="text-center w-25 align-middle th-title">Last {{ chunk_size_in_months }} Months</th>
                    <th class="text-center w-25 align-middle th-title">Previous {{ chunk_size_in_months }} Months</th>
                </tr>
            </thead>

            {# @var vendor_data \TomasVotruba\PhpFwTrends\ValueObject\VendorData #}
            {% for vendor_data in vendor_datas %}
                <tr>
                    <td>
                        <a href="{{ path('framework', { frameworkName: vendor_data.vendorKey }) }}">
                            {{ vendor_data.vendorName }}
                        </a>
                    </td>
                    <td class="text-right text-nowrap" data-order="{{ vendor_data.lastYearTrend }}">
                        {{ macros.trend(vendor_data.lastYearTrend) }}
                    </td>
                    <td class="text-right text-nowrap" data-order="{{ vendor_data.vendorTotalLastYear }}">
                        {{ macros.number(vendor_data.vendorTotalLastYear) }}
                    </td>
                    <td class="text-right text-nowrap" data-order="{{ vendor_data.vendorTotalPreviousYear }}">
                        {{ macros.number(vendor_data.vendorTotalPreviousYear) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {# sortable tables #}
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
{% endblock %}
