{% extends "base.twig" %}

{% block content %}
    {# local macros must be imported, then use like "{{ macros.<X>() }}" #}
    {% import "_macros/trends_macros.twig" as macros %}

    <div class="container-fluid">
        <h1>{{ title }}</h1>

        <p>
            What are <strong>yearly downloads of popular PHP frameworks</strong> from Packagist?
            Is it marketing fake news or is it true?
        </p>

        <p>
            ...Why was this table created? - toto new page?
        <p>

        <table class="table table-bordered table-responsive table-striped sortable_table" id="main_table">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-center w-25 align-middle">Framework</th>
                    <th class="text-center w-25 align-middle">Year Trend</th>
                    <th class="text-center w-25 align-middle">Last {{ chunk_size_in_months }} Months</th>
                    <th class="text-center w-25 align-middle">Previous {{ chunk_size_in_months }} Months</th>
                </tr>
            </thead>

            {# @var vendor_data \TomasVotruba\PhpFwTrends\ValueObject\VendorData #}
            {% for vendor_data in vendor_datas %}
                <tr>
                    <td>
                        <a href="{{ path('framework', { frameworkName: vendor_data.vendorKey }) }}">
                            {{ vendor_data.vendorName }}
                        </a>
                    </td>
                    <td class="text-right text-nowrap" data-order="{{ vendor_data.lastYearTrend }}">
                        {{ macros.trend(vendor_data.lastYearTrend) }}
                    </td>
                    <td class="text-right text-nowrap" data-order="{{ vendor_data.vendorTotalLastYear }}">
                        {{ macros.number(vendor_data.vendorTotalLastYear) }}
                    </td>
                    <td class="text-right text-nowrap" data-order="{{ vendor_data.vendorTotalPreviousYear }}">
                        {{ macros.number(vendor_data.vendorTotalPreviousYear) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {# sortable tables #}
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
{% endblock %}
