{% extends "base.twig" %}

{% block content %}
    {# local macros must be imported, then use like "{{ macros.<X>() }}" #}
    {% import "_macros/trends_macros.twig" as macros %}

    <div class="container-fluid">
        <h1>{{ title }}</h1>

{#        <p class="text-muted mb-4 small">Updated at {{ php_framework_trends.updated_at|date('j. n.') }}</p>#}

        <p>
            What are <strong>yearly downloads of popular PHP frameworks</strong> from Packagist?
            Is it marketing fake news or is it true?
        </p>

        <p>
            ...Why was this table created? - toto new page?
        <p>

        @todo methodgolo


        <table class="table table-bordered table-responsive table-striped sortable_table" id="main_table">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-center w-25 align-middle">Framework</th>
                    <th class="text-center w-25 align-middle">Year Trend</th>
                    <th class="text-center w-25 align-middle">Last {{ chunk_size_in_months }} Months</th>
                    <th class="text-center w-25 align-middle">Previous {{ chunk_size_in_months }} Months</th>
                </tr>
            </thead>

            {# @var framework \TomasVotruba\PhpFwTrends\Twig\VendorAutocomplete #}
            {% for framework in php_framework_trends.vendors %}
                <tr>
                    <td>
                        <a href="#{{ framework.vendor_name|webalize }}">{{ framework.vendor_name }}</a>
                    </td>
                    <td class="text-right text-nowrap" data-order="{{ framework.last_year_trend }}">
                        {{ macros.trend(framework.last_year_trend) }}
                    </td>
                    <td class="text-right text-nowrap" data-order="{{ framework.vendor_total_last_year }}">
                        {{ macros.number(framework.vendor_total_last_year) }}
                    </td>
                    <td class="text-right text-nowrap" data-order="{{ framework.vendor_total_previous_year }}">
                        {{ macros.number(framework.vendor_total_previous_year) }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <br>

        {% for framework in php_framework_trends.vendors %}
            <hr>

            <div class="text-center mb-5">
                <h2 id="{{ framework.vendor_name|webalize }}">{{ framework.vendor_name }}</h2>

                <p>
                    <a href="#main_table">Jump up ↑</a>
                </p>
            </div>

            <table class="table table-bordered table-responsive table-striped mt-4 mt-4 sortable_table" id="{{ framework.vendor_name|webalize }}">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center w-25 align-middle">Package</th>
                        <th class="text-center w-25 align-middle">Year Trend</th>
                        <th class="text-center w-25 align-middle">Last {{ chunk_size_in_months }} Months</th>
                        <th class="text-center w-25 align-middle">Previous {{ chunk_size_in_months }} Months</th>
                    </tr>
                </thead>
                {% for package in framework.packages_data %}
                    {# @var package \TomasVotruba\PhpFwTrends\ValueObject\PackageData #}
                    <tr>
                        <td>
                            <a href="https://packagist.org/packages/{{ package.package_name }}/stats">
                                {{ package.package_short_name }}
                            </a>
                        </td>
                        <td class="text-right text-nowrap" data-order="{{ package.last_year_trend }}">{{ macros.trend(package.last_year_trend) }}</td>
                        <td class="text-right text-nowrap" data-order="{{ package.younger_chunk }}">{{ macros.number(package.younger_chunk) }}</td>
                        <td class="text-right text-nowrap" data-order="{{ package.older_chunk }}">{{ macros.number(package.older_chunk) }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>

    {# sortable tables #}
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
{% endblock %}
